li {
    display: flex;
    gap: 10px;
    padding: 10px;
    border: 2px solid gray;
    min-width: 200px;
    align-items: center;
    column-gap: 20px;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul{
    min-height: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 275px;
}

span{
    align-items: center;
    display: flex;
    flex: 1;
    gap: 10px;
    font-size: 1em;
    font-weight: bold;
}


.To-Do-List {
    padding: 20px;
}

.add-button {
    column-gap: 10px;
    color: white;
    padding: 10px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}

.delete-button {
    color: red;
    padding: 10px;
    gap: 50px;
}

.moveTaskUp-button {
    color: green;
    padding: 10px;
}

.moveTaskDown-button {
    color: orange;
    padding: 10px;
}
